In [2]:
a=5 #5 is assigner to a
print(id(a))
#no pointer is used in python
#pointer is called as reference in python

140728092300200

In [50]:
input("A=")

print()

A= lcdsjkf

In [4]:
#number as input

x=input()
print(x)

print(type(x))

 5

5
<class 'str'>

In [6]:
y=float(x)
print(y)
print(type(y))

5.0
<class 'float'>

In [ ]:
print(12.5, 7374, '8y37yry83r', '42dfesyfg')

operator

In [6]:
a=5
b=3

In [8]:
a-b

2

In [10]:
a+b

8

In [12]:
a/b

1.6666666666666667

In [ ]:
#didvision operator is always give float value

In [18]:
a%b

2

In [20]:
a*b

15

#string concatenation amd multiplication

In [43]:
name1='Swarup'
name2='and you'
name3='will help each other'

In [55]:
print(name1+name2+name3)

Swarupand youwill help each other

#did you notce the space imbalance here ????
'''NOw we have a solution dear all
introducinggggggggg
Extra Space and .join() '''

In [62]:
name1='Swarup '
name2='and you '
name3='will help each other.'

In [64]:
print(name1+name2+name3)

Swarup and you will help each other.

In [80]:
#.join()  REMEMBER TO INCLUDE SPACE WITHIN STRINGSSSSSS
'''name1='Swarup '
name2='and you '
name3='will help each other.'
HELLLLL!!!!NOOOOOOOOOO
'''
string=['Swarup ','and you ','will help each other']
result=''.join(string)

In [82]:
print(result)

Swarup and you will help each other

Multiplication of stringsssss!!!!Ayoooo wtf!!!!!

Voila!!Yaaah it is possibleeee

In [92]:
name='Rahul' #never miss to recognise string value inside double quotes or single qoutes
name*3

'RahulRahulRahul'

comparison operator

In [96]:
a=2
b=5

In [98]:
print(a!=b)

True

In [102]:
print(a==b)

False

In [104]:
print(a>b)

False

In [106]:
print(a<b)

True

In [108]:
print(a<=b)

True

ASSIGNMENT OPERATOR

In [133]:
a=5

In [113]:
a=a+3
print(a)

8

In [131]:
#a=a+3 is same as a+=3
a+=3
print(a)

32

LOGIAL OPERATOR

In [137]:
#and

a=8
b=9

In [139]:
a>b and b<a

False

In [6]:
a=3
b=9

a<b or b<a

True

In [12]:
a=4
b=1


not a>b

False

In [14]:
not a<b

True

special operator

In [21]:
#in operator
name='Rahul Sharma'

In [23]:
'R' in name

True

In [25]:
'x' in name

False

In [27]:
'Rahul' in name

True

In [ ]:
#is operator tells you if both the object are at the same memory location????/

In [30]:
a= 5
b= 5

print(id(a), id(b))

140733235696552 140733235696552

In [32]:
a is b

True

In [34]:
a =12
b= 8487
print(id(a), id(b))

140733235696776 1713167242096

In [36]:
a is b

False

In [38]:
def volume_sphere(r):
    '''input: r = Input in integer format
       output:return Vol of sphere upto two decimals'''
    # YOUR CODE GOES HERE
    Vol=(4/3)*(22/7)*r*r*r
    
    
    
    return round(Vol,2)
r=float(input("Enter the radius of the Sphere:"))
Vol=volume_sphere(r)
print("Volume of the Sphere is:", Vol)

Enter the radius of the Sphere: 8

Volume of the Sphere is: 2145.52

In [40]:
r=5
Vol=volume_sphere(r)
print(Vol)

523.81

In [52]:
def concatenate_strings(A, B):
  """Concatenates two strings.

  Args:
    A: The first string.
    B: The second string.

  Returns:
    The concatenated string.
  """

  concatenated_string = A + B
  return concatenated_string

# Get input strings from the user
A = input()
B = input()

# Concatenate the strings
result = concatenate_strings(A, B)

# Print the concatenated string
print("Concatenated string:", result)

 Interview
 BIt

Concatenated string: InterviewBIt

In [54]:
print(0 or 1)

1

In [56]:
print(type(6 / 3))

<class 'float'>

IF_ELSE

In [20]:
age = int(input("Enter the age:"))
if age>= 18:
    print("YOU CAN DRIVE")

else:
    print("YOU CANNOT DRIVE")

Enter the age: 12

YOU CANNOT DRIVE

NESTED IF

In [17]:
age = int(input("Enter the age:"))
if age>= 18:
    if age>=60:
        print("Hire a driver. It is not safe around")
    else:
        print("YOU CAN DRIVE")

else:
    print("YOU CANNOT DRIVE")

Enter the age: 12

YOU CANNOT DRIVE

IF,ELIF AND ELSE

In [41]:
#print the largest number
marks=[90,30,100,50,80,95,37,94,62,74,94,65,72,83,75,32,65,39,75,63,39,64,89]

'''highest=marks[0]
for i in marks:
    if i>highest:
        highest=i

print(highest)'''

#using max() min()
max(marks)
min(marks)

30

In [49]:
#grading system
marks=float(input("enter your number:"))

if marks>=90:
    print("Grade A")
if marks>80 and marks<90:
    print("Grade B")
if marks>70 and marks<80:
    print("Grade C")
if marks>60 and marks<70:
    print("Grade D")
if marks<60:
    print("Grade E")

enter your number: 85

Grade B

In [81]:
'''Problem Description

Given an integer A representing a year, Return 1 if it is a leap year else, return 0.

A year is a leap year if the following conditions are satisfied:

The year is multiple of 400.
or the year is multiple of 4 and not multiple of 100.'''
#class Solution:
    # @param A : integer
    # @return an integer
def solve(A):
    if (A % 400 == 0) or (A % 4 == 0 and A % 100 != 0): 
        return 1  # Leap year\
    else:
        return 0  # Not a leap year
# Get user input
A= int(input("Enter the year: "))

# Check if it's a leap year and print the result
if solve(A):
    print(A,"is a leap year")
else:
    print(A,"is not a leap year")

Enter the year:  2020

2020 is a leap year

loop

In [1]:
#initialization
i =1
while i<=7: #condtion
    print("Fuk uh")

    i+=1 #updation

Fuk uh
Fuk uh
Fuk uh
Fuk uh
Fuk uh
Fuk uh
Fuk uh

In [8]:
i=1
while i<=10:
    print(i, end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [10]:
i=1
while i<=10:
    if i%2==0:
    
        print(i, end=" ")
    i+=1

2 4 6 8 10

In [18]:
i=1
add=0
while i<=10:
    
    #print(i, end=" ")
    add+=i
    i+=1

print(add)

55

In [20]:
#range function
#range(start,end,jump) default jump is 1
list(range(1,12))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [22]:
list(range(0,12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [26]:
list(range(0,12,2))

[0, 2, 4, 6, 8, 10]

In [34]:
#multiplication table
num=int(input("Enter the number: "))
for i in range(1,11):
    i*=num
    print(i)

Enter the number:  5

5
10
15
20
25
30
35
40
45
50

In [46]:
#print # particular shape(square) overwhelming part of iteration

for i in range(5):
    print("#",end=' ')
print()
for i in range(5):
    print("#",end=' ')
print()
for i in range(5):
    print("#",end=' ')
print()
for i in range(5):
    print("#",end=' ')
print()
for i in range(5):
    print("#",end=' ')
print()

# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [66]:
#we can iterate the program once by doing this 
num=int(input("Input the number: "))
for i in range(num):
    for j in range(num):
        print("#",end=' ')
    print()

Input the number:  9

# # # # # # # # #
# # # # # # # # #
# # # # # # # # #
# # # # # # # # #
# # # # # # # # #
# # # # # # # # #
# # # # # # # # #
# # # # # # # # #
# # # # # # # # #

In [72]:
#we can iterate the program once by doing this 
num=int(input("Input the number: "))
#for i in range(num):
for j in range(num):
    print("#",end=' ')    #expermental
    print()

Input the number:  9

#
#
#
#
#
#
#
#
#

In [80]:
#half pyramid * printing
num=int(input("Enter the number of row you want: "))
for i in range (1,num+1):
    for j in range(i):
        print('*',end=' ')
    print()

Enter the number of row you want:  3

*
* *
* * *

In [82]:
for x in range(10):
       if x == 6:
           print(x,end="")
print(x)

69

In [89]:
for i in range(4):
    if i==2:
        print(i)
i=10

2